{% extends 'customer/sendgig.html' %} {% block head %}

<style>
  .photo {
    object-fit: cover;
  }

  .photo-blank {
    border: 2px dashed #dfdfdf;
    height: 130px;
    width: 130px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
</style>

<script>

    var pickupLat = parseFloat(" {{ job.pickup_lat }} ");
    var pickupLng = parseFloat(" {{ job.pickup_lng }} ");

    var deliveryLat = parseFloat(" {{ job.delivery_lat }} ");
    var deliveryLng = parseFloat(" {{ job.delivery_lng }} ");



  function initMap() {
    const directionsService = new google.maps.DirectionsService();
    const directionsRenderer = new google.maps.DirectionsRenderer();
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 7,
      center: { lat: 41.85, lng: -87.65 },
    });

    directionsRenderer.setMap(map);

    calculateAndDisplayRoute(directionsService, directionsRenderer);
  }

  function calculateAndDisplayRoute(directionsService, directionsRenderer) {
    directionsService
      .route({
        origin: new google.maps.LatLng(pickupLat, pickupLng),
        destination: new google.maps.LatLng(deliveryLat, deliveryLng),
        travelMode: google.maps.TravelMode.DRIVING,
      })
      .then((response) => {
        directionsRenderer.setDirections(response);
      })
      .catch((e) => window.alert("Directions request failed due to " + status));
  }

  window.initMap = initMap;
</script>

{% endblock %} {% block main %}

<!-- JOB DESCRIPTION -->
<div class="media mb-4">
  <img
    src="{{ job.photo.url }}"
    class="rounded-lg mr-3"
    width="150"
    height="150"
  />
  <div class="media-body">
    <h4>{{ job.name }}</h4>
    <p class="text-secondary">{{ job.description }}</p>

    <div class="row">
      <div class="col-lg-3">
        <small class="text-secondary">CATEGORY</small><br />
        <span><b>{{ job.category.name }}</b></span>
      </div>
      <div class="col-lg-3">
        <small class="text-secondary">SIZE</small><br />
        <span><b>{{ job.get_size_display }}</b></span>
      </div>
      <div class="col-lg-3">
        <small class="text-secondary">PRICE</small><br />
        <span><b>{{ job.price }}</b></span>
      </div>
      <div class="col-lg-3">
        <small class="text-secondary">QUANTITY</small><br />
        <span><b>{{ job.quantity }}</b></span>
      </div>
    </div>
  </div>
</div>

<!-- DELIVERY INFORMATION -->
<b class="text-secondary">DELIVERY INFORMATION</b><br />
<div class="card bg-white mt-2 mb-5">
  <div class="card-body p-4">
    <h4 class="mb-3">Pickup</h4>
    <div class="row">
      <div class="col-lg-4">
        <b>Address</b><br />
        <span>{{ job.pickup_address }}</span>
      </div>
      <div class="col-lg-4">
        <b>{{ job.pickup_name }}</b><br />
        <span>{{ job.pickup_phone }}</span>
      </div>
      <div id="pickup_photo" class="col-lg-4">
        {% if job.pickup_photo %}
        <img
          src="{{ job.pickup_photo.url }}"
          class="rounded-lg photo"
          width="130"
          height="130"
        />
        {% else %}
        <div class="photo-blank">Pickup Photo Will Appear Here.</div>
        {% endif %}
      </div>
    </div>

    <hr class="my-4" />

    <h4 class="mb-3">Delivery</h4>
    <div class="row">
      <div class="col-lg-4">
        <b>Address</b><br />
        <span>{{ job.delivery_address }}</span>
      </div>
      <div class="col-lg-4">
        <b>{{ job.delivery_name }}</b><br />
        <span>{{ job.delivery_phone }}</span>
      </div>
      <div id="delivery_photo" class="col-lg-4">
        {% if job.delivery_photo %}
        <img
          src="{{ job.delivery_photo.url }}"
          class="rounded-lg photo"
          width="130"
          height="130"
        />
        {% else %}
        <div class="photo-blank">Delivery Photo Will Appear Here.</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- MAP AREA -->
<div class="d-flex justify-content-between">
  <b class="text-secondary">TRACK DELIVERY</b>
  <div>
    <span class="badge badge-info">{{ job.get_status_display }}</span>
  </div>
</div>

<div class="card bg-white mt-2">
  <div class="card-body p-0">
    <div id="map" style="height: 500px"></div>
  </div>
</div>

{% endblock %}
