<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> Transport website</title>
        <link href="{% static '/css/home.css'%}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
               
    </head>
    <body>
        <div class="main">
            <div class="container">
                <h1 class="logo">DriveXpress</h1>
                <nav>
                    <ul>
                        <li class="active">Home</li>
                        <li><a href="entreprise sign-up.html"><button class="btn2">ENTREPRISE</button></a></li>
                        <li><a href="personal sign-up.html"><button class="btn2">PERSONAL</button></a></li>
                        <li><a href="drivers sign-up.html"><button class="btn2">DRIVERS</button></a></li>
                        <li><a href="{% url 'user:getstarted' %}"><button class="btn">GET STARTED</button></a></li>
                        
                    </ul>
                </nav>
            </div>
            <div class="content">
                <h3>DriveXpress Business Solutions</h3>
                <h1>Local delivery for any<br>item, any size, anywhere</h1>

                <div class="flex-container">
                    <div class="text">
                        <p>
                            Unlock flexible, high-quality delivery for any item, any size, anywhere with the largest local<br>                                              
                            by tapping DriveXpress' crowdsourced delivery platform. Conveniently send and receive your<br> ordered packages
                            same-day delivery footprint in thie nation. Grow revenue and build a more<br> efficient logistics networks
                            from your favourite vendor or colleagues any time!                  
                        </p>
                    </div>
                    <div class="img">
                        <img src="{% static 'images/img/crowdsourced.jpg' %}" alt="delivery">
                    </div>
                </div>
                                 
                <a href="contact.html"><button class="btn">Contact</button></a>
                <a href="policy.html"><button class="btn">Policy</button></a>
            </div>

            <footer>
              <div class="container">
                    <p>Copyright &copy; 2023 Drive Express. All Rights Reserved.</p>
              </div>
        
              <div class="social-icons">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
               </div>
            </footer>
            
        </div>
        
        
    </body>
</html>