<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy policy</title>
</head>
<body>
    <p>
        <h1>Privacy Policy: DriveXpress</h1>
        <h2>Effective Date: May 1, 2023</h2>
        At DriveX, we value your privacy and are committed to protecting your personal information. This Privacy<br>
        Policy outlines how we collect, use, disclose, and protect your data when you use our on-demand delivery system.<br>
        By accessing and using our services, you consent to the practices described in this policy. Please read this policy carefully.
    </p>
    <p>
        Information We Collect:<br>
        1.1 Personal Information: When you create an account and use our on-demand delivery system, we may collect personal information<br>
        such as your name, email address, phone number, delivery addresses, and payment details. We only collect the information<br>
        necessary to provide our services effectively.
        1.2 Usage Data: We may collect data related to your interactions with our platform, including log files, IP addresses, device<br>
         information, browser type, and usage patterns. This information helps us improve our services and provide a better user experience.
    </p>
    <p>
        Use of Information:<br>
        2.1 Service Provision: We use the information collected to facilitate the delivery of requested items, manage your account, <br>
        and provide<br> customer support. This includes order processing, delivery coordination, and resolving any issues that may arise.<br>
        2.2 Communication: We may use your contact information to send transactional notifications, updates about your orders, service-related<br>
        announcements, and important account information. 
        2.3 Personalization: With your consent, we may use your information to personalize your experience, provide tailored recommendations,<br>
        and offer promotions or discounts that may be of interest to you.
        2.4 Analytics and Improvements: We may analyze aggregated data to better understand user preferences, improve our services, and <br>
        enhance the overall functionality of our platform.
    </p>
    <p>
        Data Sharing:<br>
        3.1 Third-Party Service Providers: We may share your personal information with trusted third-party service providers who assist <br>
        us in delivering our services. These providers include delivery personnel, payment processors, customer support platforms, and <br>
        data analytics tools. However, we ensure that they adhere to strict confidentiality and data protection standards.
        3.2 Legal Compliance: We may disclose your personal information if required by law, regulation, legal process, or government request.<br>
        3.3 Business Transfers: In the event of a merger, acquisition, or sale of assets, your personal information may be transferred to the acquiring entity, subject to their adherence to this Privacy Policy.
    </p>
    <p>
        Data Security:<br>
        4.1 Security Measures: We implement industry-standard security measures to protect your personal information from unauthorized<br>
        access, disclosure, alteration, or destruction. These measures include encryption, secure socket layer (SSL) technology, access<br>
        controls, and regular security audits.
        4.2 User Responsibilities: While we take reasonable precautions, it is important for you to also protect your account and personal<br>
        information by using strong passwords, keeping your login credentials confidential, and promptly reporting any unauthorized activities or security concerns.
    </p>
    <p>
        Data Retention:<br>
        We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer<br>
        retention period is required or permitted by law. Once the data is no longer needed, we will securely dispose of it in accordance <br>
        with our data retention policies.
    </p>
    <p>
        Your Rights:<br>
        6.1 Access and Control: You have the right to access, correct, update, or delete your personal information. You can manage your account <br>
        settings and preferences through the platform or by contacting our customer support team.
        6.2 Marketing Communications: You can choose to opt-out of receiving promotional emails or marketing communications from us by following <br>
        the unsubscribe instructions provided in the emails.
        6.3 Do Not Track: Our platform does not respond to "Do Not Track" signals. However, you can adjust your browser settings to disable tracking<br>
        technologies.
    </p>
    <p>
        Changes to the Privacy Policy:<br>
        We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any material<br>
        changes by posting the updated policy on our website or sending a direct communication. It is your responsibility to review this policy periodically.
    </p>
    <p>
        If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please contact us through the<br>
        designated channels provided on our platform.
    </p>
</body>
</html>