<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personl Sign Up</title>
    <link href="register.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
    <h1>
      Get Paid to Drive,<br>your way.</h1><br />
      <h3>Earn cash on trips you're already taking, whether you drive<br>
         across town or across state lines, DriveX is an easy, flexible<br>
          way to make money driving.</h3>
    </div>
    <div class="wrapper">
      <h2>Driver Sign Up</h2><br>
      <h3>By signing up, I agree to DriveX's <a href="#">Privacy and Terms.</a></h3>
      <form action="#">
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="text" placeholder="Driver's Licence Number" />
        <input type="text" placeholder="Email Address" />
        <input type="tel" placeholder="Phone Number" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Re-Enter Password" />
      </form>

      <button>Continue</button>
      
    </div>
  </body>
</html>
