{% extends 'user/home.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Sign Up</title>
    <link href="{% static '/user/user.css'%}" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <h3>
        Post deliveries in minutes.
      </h3>
    </div>
    <div class="wrapper">
      <h2>Business Sign Up</h2>
      <form action="#">
        <input type="text" placeholder="Business Name" />
        <input type="text" placeholder="Business Size" />
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="text" placeholder="Email Address" />
        <input type="tel" placeholder="Mobile Number" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Re-Enter Password" />
      </form>
      <div class="terms">
        <input type="checkbox" id="checkbox" />
        <label for="checkbox"
          >By signing up, I agree to DriveX's <br><a href="#">Privacy and Terms.</a></label
        >
      </div>
      <button>Sign Up</button>
      <div class="member">
        Have an account? <a href="login.html">Login Here</a>
      </div>
    </div>
  </body>
</html>
