<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Sign Up</title>
    <link
      href="{% static '/user/user.css'%}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <h2>Business Sign Up</h2>
    </div>
    <div class="wrapper">
      <h3>Post deliveries in minutes.<br />Create your account in seconds.</h3>
      <form action="#">
        <input type="text" placeholder="Business Name" />
        <select id="dropdownField" name="business size">
          <option value="" disabled selected>Input size</option>
          <option value="1-5">1-5</option>
          <option value="6-10">6-10</option>
          <option value="beyond 10">Beyond 10</option>
        </select>
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="tel" placeholder="Mobile Number" />
        <input type="email" placeholder="Email Address" />
        <input type="password" placeholder="Password" />
      </form>
      <div class="terms">
        <input type="checkbox" id="checkbox" />
        <label for="checkbox"
          >By signing up, I agree to DriveX's <br /><a href="#"
            >Privacy and Terms.</a
          ></label
        >
      </div>
      <button>Sign Up</button>
      <div class="member">
        Have an account? <a href="sender-login.html">Login Here</a>
      </div>
    </div>
  </body>
</html>
