{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personl Sign Up</title>
    <link
      href="{% static '/user/user.css'%}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <h2>Individual Sign Up</h2>
    </div>

    <div class="wrapper">
      <div>
        {% for message in messages %}
        <h5 style="color: coral">{{message}}</h5>
        {% endfor %}
      </div>
      <h3>Create an account and get your stuff where it needs to go.</h3>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="User Name" />
        <input type="text" name="firstname" placeholder="First Name" />
        <input type="text" name="lastname" placeholder="Last Name" />
        <input type="email" name="email" placeholder="Email Address" />
        <input type="password" name="password" placeholder="Password" />
        <input
          type="password"
          name="password2"
          placeholder="confirm Password"
        />
        <button type="submit">Sign Up</button>
      </form>
      <div class="terms">
        <label for="checkbox"
          >By signing up, I agree to<br />
          DriveX's <a href="#">Privacy and Terms.</a></label
        >
      </div>

      <div class="member">
        Have an account? <a href="sender-login.html">Login Here</a>
      </div>
    </div>
  </body>
</html>
{% endblock %}
