<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policy statement</title>
</head>
<body>
    <p>
        <h1>Policy: DriveX User Policy</h1>
        <h2>Effective Date: May 1, 2023</h2>
        Welcome to our on-demand delivery system! We value your trust and want to ensure a seamless<br>
        and satisfactory experience for all our users. This policy outlines the terms and conditions<br>
        governing your use of our platform. By accessing and using our services, you agree<br>
        to comply with this policy. Please read it carefully.
    </p>
    <p>
        User Account and Information:<br>
        1.1 Account Creation: You must create an account to access our on-demand delivery system. The<br>
        information provided during registration must be accurate, complete, and up-to-date. You are responsible<br>
        for maintaining the confidentiality of your account credentials and any activities that occur under your account.<br>
        1.2 Account Usage: Your account should only be used by you. Sharing your account credentials or allowing others to <br>
        use your account is strictly prohibited. You are responsible for all actions taken through your account.<br>
        1.3 Information Accuracy: It is essential to provide accurate delivery information, including addresses, contact<br>
        numbers, and any specific delivery instructions. Any inaccuracies or incorrect information may result in delivery<br>
         delays or failures for which we cannot be held responsible.
    </p>
    <p>
        Placing Orders:<br>
        2.1 Order Verification: After placing an order, you will receive a confirmation email or notification. Review the<br>
        order details carefully and report any discrepancies or issues immediately.<br>
        2.2 Cancellation and Modifications: Orders may be canceled or modified within a specific timeframe, which will be communicated to you at the time of<br>
        order placement. After this timeframe, cancellation or modifications may not be possible. Please refer to our<br>
         cancellation and modification policy for more details.

    </p>
    <p>
        Delivery:<br>
        3.1 Delivery Timelines: We strive to provide accurate delivery estimates. However, unforeseen circumstances, <br>
        such as traffic conditions or weather, may cause delays. We will make reasonable efforts to notify you of<br>
        any significant delays. 
        3.2 Delivery Verification: Upon delivery, you are responsible for inspecting and verifying the delivered items.<br>
        If you notice any issues or discrepancies, please notify us immediately.
        3.3 Failed Delivery Attempts: If a delivery attempt fails due to reasons beyond our control or if you are unavailable<br>
        to receive the delivery, additional delivery attempts may incur extra charges. We will communicate these<br>
        charges to you in advance.
    </p>
    <p>
        User Conduct:<br>
        4.1 Compliance with Laws: You agree to use our on-demand delivery system in compliance with all applicable laws,<br>
        regulations, and policies.
        4.2 Prohibited Activities: The following activities are strictly prohibited and may result in immediate account<br>
        suspension or termination:
        <ul>
            <li>Providing false information</li>
            <li>Attempting unauthorized access or hacking</li>
            <li>Engaging in fraudulent or deceptive practices</li>
            <li>Harassing or threatening others</li>
            <li>Violating intellectual property rights</li>
            <li>Uploading or sharing malicious software or content</li>
            <li>Any other activities deemed harmful or disruptive to our platform or users</li>
        </ul>
    </p>
    <p>
        Privacy and Data Protection:<br>
        5.1 Privacy Policy: Your privacy is important to us. Please refer to our <a href="dataprivacy.html">Privacy Policy</a> for details<br>
        on how we collect, use, and protect your personal information.
        5.2 Data Sharing: We may share necessary information with our trusted partners or third-party service providers<br>
        to facilitate delivery and improve our services. However, we will not share your personal information with any<br>
        unauthorized third parties.
    </p>
    <p>
        Liability and Dispute Resolution:<br>
        6.1 Limitation of Liability: We will make reasonable efforts to ensure the accuracy, reliability, and <br>
        <br>timeliness of our services. However, we cannot guarantee uninterrupted or error-free operations. We shall not<br>
        be held liable for any direct, indirect, incidental, or consequential damages arising from the use of our services.<br>
        6.2 Dispute Resolution: In the event of any disputes arising from your use of our services, we encourage you to
         contact our customer support team. We will make reasonable efforts to try and reach out to you.
    </p>
</body>
</html>