<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Get Started</title>

  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  {% block head %}{% endblock %}
  
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-dark" style="background-color: #333">
    <div class="container-fluid">
      <h1 class="text-white">DriveXpress</h1>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <footer class="text-center mt-5 mb-5">&copy; DriveX.com</footer>
</body>

</html>